$bigscreen: 1320px;
$laptop: 966px;
$tablet: 524px;
$mobile: 320px;

@mixin bigscreen {
  @media (min-width: $bigscreen) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}