@use "fonts" as *;

.header {

	&__wrapper{
		display: flex;
		align-items: baseline;
	}
	&__logo {
		flex-grow: 1;
		font-family: $font-logo;
		text-transform: uppercase;
	}

	&__btn-modal {

	}

}

.navigation {
	margin-right: 45px;

	&__list {
		display: flex;
    gap: 15px 32px;
	}

	&__link {
		display: block;
    padding: 28px 0;
	}
}

