@use "variables" as *;
@use "media" as *;


.top {
	display: flex;
  flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 70px;

	@include tablet {
		margin-bottom: 150px;
		}

		@include laptop {
			margin-bottom: 216px;
		}

}

.marketing{

	&__title {
		font-size: 28px;
		font-weight: 600;
		line-height: 28px;
		margin-bottom: 25px;
		max-width: 424px;

		@include tablet {
		font-size: 38px;
		line-height: 48px;
		max-width: 524px;
		}

		@include laptop {
			font-size: 48px;
    	line-height: 58px;
    	max-width: 624px;
		}
	}

	&__text {
		max-width: 624px;
    margin-bottom: 24px;

		@include tablet {
			max-width: 424px;
    	margin-bottom: 34px;
			}
	
			@include laptop {
				max-width: 624px;
    	margin-bottom: 64px;
			}
	}

	&__img {
	}

}


.detalies {
	background-color: #95c9cd;;

	&__header {

	}

	&__navigation {

	}

	&__navigation-list {
		text-align: center;

		@include tablet {
			display: flex;
    	justify-content: space-evenly;
		}
		
	}

	&__navigation-subtitle {
		font-size: 24px;
	}

	&__navigation-subtitle--active {

	}

	&__list {
		list-style: square;
	}

	&__item {

	}
}